html{
    font-size: 10px;
}
body{
    background: #152025;
}
.inline-block{
    display: inline-block;
}
.x{
    height:2rem;
}
.y{
    height:7rem;
    width:7rem;
}
.flex{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header{
    height:6rem;
    padding:0 2rem;
    background: rgba(32, 53, 60, 1);
}
.title-word{
    font-size:3.6rem;
    color:rgba(255,251,220,1);
}
.mumber-introduction{
    width: 95%;
    margin-top: 6rem;
    margin-left:auto;
    margin-right:auto;
}
.logo{
    width:8rem;
    height:8rem;
    position: relative;
    vertical-align: middle;
}
.team-name{
    font-size: 2.5rem;
    line-height:0.85em;
    font-weight: bold;
    border-bottom:solid 1rem rgba(159, 195, 217, 1);
    color: #FFFBDC;
    width: 14rem;
}
.dot{
    height: 1vw;
    width: 1vw;
    background: #FFFBDC;
    border-radius: 50%;
    font-size: 0;
}
.dot-t{ 
    position: relative;
    height: 1.6rem;
    width: 1.6rem;
    background: #FFFBDC;
    border-radius: 50%;
    font-size: 0;
}
.year{
    width: 6.4rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    color: #FFFBDC;
    border-bottom: solid 1rem #9FC3D9;
    margin-left: 1vw;
    margin-bottom: 1.2rem;
    line-height: 0.75rem;
}
.self-box{
    padding-left: 1.5vw;
    width:26vw;
    margin-bottom: 20px;
}
.box{
    min-width: 20vw;
    border:1px solid rgba(59, 79, 88, 1);
    border-radius: 1rem;
    padding:1.2rem;
    background: rgba(58, 78, 87, 1);
}
.box-a{
    min-width: 20vw;
}
.circle{
    width: 5rem;
    height: 5rem;
    background: rgba(191, 191, 191, 1);
    margin: 0 auto;
    border-radius: 2.5rem;
    font-size:1.4rem;
    text-align: center;
    line-height: 5rem;
    color:rgba(245, 251, 220, 1);
}
.font-style{
    font-size: 1rem;
    color: rgba(245, 251, 220, 1);
    line-height: 1.5rem;
}
.letter{
    font-size: 3.2rem;
    line-height:0.85em;
    font-weight: bold;
    border-bottom:solid 1rem rgba(159, 195, 217, 1);
    color: #FFFBDC;
    width: 18rem;
    margin-top:2.5rem;
    margin-bottom: 19vh;
}
.mumber-introduction::before{
    content: "";
    width: 1px;
    height: 300vh;
    background: #F5FBDC;
    position: absolute;
    left: 50%;
    transform: translateX(-46.5vw);
    top: 12rem;
}