body {
  background: linear-gradient(to bottom,white,lightblue);
  background-size: 100% 750px ;
  background-repeat: no-repeat;
  }
  
  .button{
    width: 130px;
    height: 130px;
    border: solid 2px white; 
    border-radius: 50%; 
    position: relative;
    cursor: pointer; 
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%,-50%);
  }
  
  .button a{
    color: white; 
    text-decoration: none; 
    text-align:center; 
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 10%;
  }
  
  .button:hover{
    border: solid 2px lightblue;
    background: white;
  }
  
  .button:hover a{
      background: -webkit-gradient(linear, left top, right top, 
      color-stop(0, lightblue), 
      color-stop(.4, lightblue),
      color-stop(.5, white), 
      color-stop(.6, lightblue), 
      color-stop(1, lightblue));
      -webkit-background-clip: text;
      color: transparent;
      -webkit-animation: text 2s infinite;
  }

  .button:hover span{
  color: grey;
  }

  @keyframes text {
    from {
      background-position: -100px;}
    to {
      background-position: 100x;} 
  }
  
  .button:before {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-sizing: border-box; 
    content: '';
  }
  
  .button:hover:before{
    border: dashed 3px lightblue;
    animation: whirl 9s linear infinite;
  }
  
  @keyframes whirl{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  